@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.header {
    @include mixin.greyBlock();
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;

    &__back-home {
        @include mixin.circle(2rem);
        background-color: var.$light-grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 1rem;
        height: 1rem;
    }
}