@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.home {
    background-color: var.$black;
}

.projects {
    @include mixin.greyBlock();
    padding: 2rem;

    &__card {
        background-color: var.$light-grey;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 2rem 0;
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__subtitle {
        @include mixin.font(0.75rem, 600);
        margin-bottom: 2rem;
    }
}