@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

.hero {
    @include mixin.greyBlock();
    position: relative;
    color: var.$white;
    padding: 4.5rem 2rem 5rem;

    &__subtitle {
        @include mixin.font(0.75rem, 600);
        margin-bottom: 2rem;
    }

    &__title {
        @include mixin.font(2rem, 600);
        margin-bottom: 2rem;
    }

    &__description {
        @include mixin.font(0.75rem, 400);
        margin-bottom: 2rem;
    }

    &__photo {
        position: absolute;
        top: 2.5rem;
        right: 3.5rem;
        @include mixin.circle(8.5rem);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}