@use "../abstracts/main" as abs;

.hero {
    position: relative;
    background-color: abs.$grey;
    color: abs.$white;
    padding: abs.Rem(71) 2rem 5rem;

    &__subtitle {
        @include abs.font(0.75rem, 600);
        margin-bottom: abs.Rem(35);
    }

    &__title {
        @include abs.font(2rem, 600);
        margin-bottom: abs.Rem(35);
    }

    &__description {
        @include abs.font(0.75rem, 400);
        margin-bottom: abs.Rem(32);
    }

    &__photo {
        position: absolute;
        top: abs.Rem(22);
        right: abs.Rem(-15);
        @include abs.cicle(abs.Rem(137));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}