@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;
@use "../abstracts/functions" as fct;

.hero {
    position: relative;
    background-color: var.$grey;
    color: var.$white;
    padding: fct.Rem(71) 2rem 5rem;

    &__subtitle {
        @include mixin.font(0.75rem, 600);
        margin-bottom: fct.Rem(35);
    }

    &__title {
        @include mixin.font(2rem, 600);
        margin-bottom: fct.Rem(35);
    }

    &__description {
        @include mixin.font(0.75rem, 400);
        margin-bottom: fct.Rem(32);
    }

    &__photo {
        position: absolute;
        top: fct.Rem(22);
        right: fct.Rem(-15);
        @include mixin.cicle(fct.Rem(137));

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}